html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #fcf5ed;
    font-family: "Lato", sans-serif;
    line-height: 150%;
}

#gusteaus,
#gusteaus2 {
    margin: 25px;
}

@font-face {
    font-family: "authenticratatouille";
    src: url(fonts/authenticratatouille.otf) format("postscript");
}

#container {
    max-width: 1200px;
    margin: 25px;
}

h1 {
    padding: 10px;
    font-family: "authenticratatouille";
    color: #e9a252;
    font-size: 3em;
}

/* Navigation */
nav {
    padding: 15px 0;
    margin-bottom: 50px;
    text-align: center;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 15px 30px;
    line-height: 20px;
}

main {
    padding: 10px;
    width: 60%;
    float: left;
}

aside {
    width: 30%;
    float: right;
    padding: 10px;
}

a {
    color: #bf1e2e;
}

a:hover {
    color: #e9a252;
}

@media all and (min-width: 800px) {
    h1 {
        font-size: 6em;
    }
}

@media all and (min-width: 1000px) {
    h1 {
        font-size: 4em;
    }
}

/* Footer */
footer {
    padding: 15px 0;
    text-align: center;
}

footer ul {
    margin: 0;
    padding: 0 0;
    display: inline-block;
}

footer li {
    display: inline;
}

footer a {
    display: inline-block;
    padding: 10px 20px;
    line-height: 20px;
}

.footercontainer {
    max-width: 1500px;
    clear: both;
}

.hours {
    font-size: 1em;
    letter-spacing: 2px;
}

@media all and (min-width: 500px) {
    footer li {
        display: block;
    }
}

/* End Footer */
