html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #bf1e2e;
    font-family: "Lato", sans-serif;
    line-height: 150%;
}

#gusteaus {
    margin: 25px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 20px;
}

@font-face {
    font-family: "authenticratatouille";
    src: url(fonts/authenticratatouille.otf) format("postscript");
}

#container {
    max-width: 1000px;
    margin: 25px auto;
    background-color: #fcf5ed;
}

h1 {
    padding: 20px;
    margin: 10px;
    font-family: "authenticratatouille";
    color: #e9a252;
    font-size: 3em;
}

/* Navigation */
nav {
    padding: 5px 0;
    margin-bottom: 50px;
    text-align: center;
    background-color: #103853;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 15px 30px;
    line-height: 20px;
}

main {
    padding: 20px;
    width: 60%;
    float: left;
}

aside {
    width: 30%;
    float: right;
    padding: 25px;
}

a {
    color: #e9a252;
    font-family: "authenticratatouille";
    font-size: 1.5em;
}

a:hover {
    color: #bf1e2e;
}

/* Footer */
footer {
    background-color: #103853;
    padding: 15px 0;
    text-align: center;
    color: white;
}

footer ul {
    margin: 0;
    padding: 0 0;
}

footer li {
    display: block;
}

footer a {
    padding: 10px 0;
    line-height: 20px;
}

.fcontainer {
    margin: 0 auto;
    max-width: 1500px;
    clear: both;
}

.footercontainer {
    max-width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 25px;
}

.hours {
    font-size: 1em;
    letter-spacing: 2px;
}

@media all and (min-width: 500px) {
    footer li {
        display: block;
    }
}

/* media query to space out nav buttons when window is at 800px or more */

@media all and (min-width: 800px) {
    footer li {
        display: inline-block;
        width: calc(100% / 4);
    }
}

#gusteaus2 {
    margin: 20px;
}

.socialicons {
    margin: 40px auto 15px;
}

.socialicons li {
    display: inline;
    margin: 0 10px;
}

.socialicons a:hover {
    opacity: 0.7;
}

/* End Footer */
.s1 {
    position: absolute;
    visibility: hidden;
}

.s2 {
    position: absolute;
    visibility: hidden;
}

.s3 {
    position: absolute;
    visibility: hidden;
}

.s4 {
    position: absolute;
    visibility: hidden;
}

img.resize {
    max-width: 25%;
    max-height: 25%;
}

@media (min-width: 1000px) {
    main {
        float: left;
        width: calc(100% / 3 * 2);
    }

    aside {
        float: right;
        width: calc(100% / 3);
    }
}

/* media query for iPhone 6 */

@media only screen
    and (min-device-width: 375px)
    and (max-device-width: 667px) {
    html {
        width: 75%;
    }

    #gusteaus {
        width: 50%;
    }

    nav li {
        display: block;
        width: calc(100% / 2 * 2);
    }

    h1 {
        font-size: 2em;
    }

    main {
        float: left;
        width: calc(100% / 4 * 2);
    }

    aside {
        float: right;
        width: calc(100% / 2 * 1);
    }

    footer li {
        display: block;
        line-height: 30px;
    }

    .hours {
        font-size: 0.75em;
    }
}

/* ----------- iPad 3 and 4 ----------- Portrait and Landscape */
@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px) {
    html {
        width: 65%;
    }

    nav li {
        display: block;
    }

    main {
        float: left;
        width: calc(100% / 4 * 2);
    }

    aside {
        float: right;
        width: calc(100% / 2);
    }

    footer li {
        display: block;
        line-height: 40px;
    }
}

/* Location Page */
.header1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.location-container {
    margin: 0 auto;
    max-width: 1000px;
    margin-bottom: 20px;
}

.location {
    padding: 10px;
    margin: 0 25px;
    text-align: center;
    float: left;
}

iframe {
    width: 150%;
}
